## Preprocessing

In [26]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' .
application_df.drop(columns = ['EIN'],axis=1, inplace=True)

In [3]:
application_df['ASK_AMT'].dtype

dtype('int64')

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [6]:
# Look at NAME value counts to identify and replace with "Other"
name_types_counts = application_df['NAME'].value_counts()
name_types_counts

NAME
PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: count, Length: 19568, dtype: int64

In [7]:
# Choose a cutoff value and create a list of names to be replaced

names_to_replace = name_types_counts[name_types_counts < 6].index.tolist()

# Replace in dataframe
for app in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['NAME'].value_counts()

NAME
Other                                           20043
PARENT BOOSTER USA INC                           1260
TOPS CLUB INC                                     765
UNITED STATES BOWLING CONGRESS INC                700
WASHINGTON STATE UNIVERSITY                       492
                                                ...
HABITAT FOR HUMANITY INTERNATIONAL                  6
DAMAGE PREVENTION COUNCIL OF TEXAS                  6
FLEET RESERVE ASSOCIATION                           6
HUGH OBRIAN YOUTH LEADERSHIP                        6
INTERNATIONAL CONGRESS OF CHURCHES MINISTERS        6
Name: count, Length: 355, dtype: int64

In [8]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_types_counts = application_df['APPLICATION_TYPE'].value_counts()
application_types_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [9]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = application_types_counts[application_types_counts < 800].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: count, dtype: int64

In [10]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_types_counts = application_df['CLASSIFICATION'].value_counts()
classification_types_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [11]:
# You may find it helpful to look at CLASSIFICATION value counts >1
num_classifications_more_than_one = classification_types_counts[classification_types_counts > 1]

print(num_classifications_more_than_one)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [12]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = classification_types_counts[classification_types_counts < 500].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: count, dtype: int64

In [16]:
# Convert categorical data to numeric with `pd.get_dummies`
dummy_cols = ['APPLICATION_TYPE', 'CLASSIFICATION', 'AFFILIATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS', 'NAME']
application_dummies = pd.get_dummies(application_df,columns = dummy_cols, dtype=int)
application_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,CLASSIFICATION_C1000,...,NAME_WEST HOUSTON AQUATIC LEAGUE INC,NAME_WOMEN IN AVIATION INTERNATIONAL,NAME_WOMENS OVERSEAS SERVICE LEAGUE,NAME_WORKERS UNITED,NAME_WYOMING CONGRESS OF PARENT AND TEACHERS ASSOCIATION,NAME_YOUNG ENTREPRENEURS ORGANIZATION,NAME_YOUNG PROFESSIONALS IN TRANSPORTATION,NAME_ZETA PHI BETA SORORITY,NAME_ZETA PHI BETA SORORITY INC,NAME_ZONTA INTERNATIONAL
0,1,5000,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1,108590,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,6692,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,142590,1,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [17]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL']
X = application_dummies.drop('IS_SUCCESSFUL', axis=1)
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1, stratify = y)

In [18]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [20]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
inputs = len(X_train_scaled[0])
layer1_units = 150
layer2_units = 90
layer3_units = 30
layer4_units = 16
layer1_activation = "tanh"
layer2_activation = "tanh"
layer3_activation = "tanh"
layer4_activation = "tanh"

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units = layer1_units, activation = layer1_activation, input_dim = inputs))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units = layer2_units, activation = layer2_activation))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units = layer3_units, activation = layer2_activation))

#Fourth hidden layer
nn.add(tf.keras.layers.Dense(units = layer4_units, activation = layer4_activation))

# Output layer
nn.add(tf.keras.layers.Dense(units = 1, activation = "sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 150)               59550

 dense_6 (Dense)             (None, 90)                13590

 dense_7 (Dense)             (None, 30)                2730

 dense_8 (Dense)             (None, 16)                496

 dense_9 (Dense)             (None, 1)                 17

=================================================================
Total params: 76383 (298.37 KB)
Trainable params: 76383 (298.37 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [21]:
# Compile the model
nn.compile(loss = "binary_crossentropy", optimizer = "adam", metrics=["accuracy"])

In [35]:
import math
batch_size=32
num_batches= len(X_train_scaled)/batch_size
num_batches= math.ceil(num_batches)
num_batches

804

In [32]:
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the filepath for saving the model weights
filepath = "/content/drive/MyDrive/Colab Notebooks/Model_Weights/model_weights_{epoch:02d}.h5"

# Create a ModelCheckpoint callback to save weights every five epochs
checkpoint_callback = ModelCheckpoint(filepath, save_weights_only=True, save_freq=5*num_batches, verbose=3)

In [33]:
# Train the model
nn_fit = nn.fit(X_train_scaled, y_train, epochs=25, callbacks=checkpoint_callback)

Epoch 1/25
804/804 [==============================] - 2s 3ms/step - loss: 0.4004 - accuracy: 0.8079
Epoch 2/25
804/804 [==============================] - 3s 4ms/step - loss: 0.4005 - accuracy: 0.8082
Epoch 3/25
804/804 [==============================] - 3s 4ms/step - loss: 0.4003 - accuracy: 0.8084
Epoch 4/25
804/804 [==============================] - 2s 3ms/step - loss: 0.4015 - accuracy: 0.8078
Epoch 5/25
799/804 [============================>.] - ETA: 0s - loss: 0.4005 - accuracy: 0.8084
Epoch 5: saving model to /content/drive/MyDrive/Colab Notebooks/Model_Weights/model_weights_05.h5
804/804 [==============================] - 3s 3ms/step - loss: 0.4006 - accuracy: 0.8083
Epoch 6/25
804/804 [==============================] - 2s 3ms/step - loss: 0.4000 - accuracy: 0.8081
Epoch 7/25
804/804 [==============================] - 3s 4ms/step - loss: 0.4000 - accuracy: 0.8078
Epoch 8/25
804/804 [==============================] - 4s 5ms/step - loss: 0.3999 - accuracy: 0.8078
Epoch 9/25
804/804 [==============================] - 3s 3ms/step - loss: 0.3996 - accuracy: 0.8088
Epoch 10/25
797/804 [============================>.] - ETA: 0s - loss: 0.3995 - accuracy: 0.8081
Epoch 10: saving model to /content/drive/MyDrive/Colab Notebooks/Model_Weights/model_weights_10.h5
804/804 [==============================] - 3s 4ms/step - loss: 0.3994 - accuracy: 0.8080
Epoch 11/25
804/804 [==============================] - 3s 4ms/step - loss: 0.3993 - accuracy: 0.8091
Epoch 12/25
804/804 [==============================] - 4s 5ms/step - loss: 0.3995 - accuracy: 0.8077
Epoch 13/25
804/804 [==============================] - 3s 4ms/step - loss: 0.3992 - accuracy: 0.8078
Epoch 14/25
804/804 [==============================] - 2s 3ms/step - loss: 0.3995 - accuracy: 0.8084
Epoch 15/25
795/804 [============================>.] - ETA: 0s - loss: 0.4000 - accuracy: 0.8068
Epoch 15: saving model to /content/drive/MyDrive/Colab Notebooks/Model_Weights/model_weights_15.h5
804/804 [==============================] - 3s 3ms/step - loss: 0.4000 - accuracy: 0.8069
Epoch 16/25
804/804 [==============================] - 2s 3ms/step - loss: 0.4001 - accuracy: 0.8084
Epoch 17/25
804/804 [==============================] - 3s 4ms/step - loss: 0.4001 - accuracy: 0.8089
Epoch 18/25
804/804 [==============================] - 4s 5ms/step - loss: 0.3991 - accuracy: 0.8081
Epoch 19/25
804/804 [==============================] - 2s 3ms/step - loss: 0.3991 - accuracy: 0.8077
Epoch 20/25
788/804 [============================>.] - ETA: 0s - loss: 0.3994 - accuracy: 0.8078
Epoch 20: saving model to /content/drive/MyDrive/Colab Notebooks/Model_Weights/model_weights_20.h5
804/804 [==============================] - 3s 3ms/step - loss: 0.3992 - accuracy: 0.8078
Epoch 21/25
804/804 [==============================] - 3s 4ms/step - loss: 0.3995 - accuracy: 0.8088
Epoch 22/25
804/804 [==============================] - 3s 3ms/step - loss: 0.3989 - accuracy: 0.8081
Epoch 23/25
804/804 [==============================] - 4s 5ms/step - loss: 0.3993 - accuracy: 0.8087
Epoch 24/25
804/804 [==============================] - 2s 3ms/step - loss: 0.3989 - accuracy: 0.8083
Epoch 25/25
796/804 [============================>.] - ETA: 0s - loss: 0.3985 - accuracy: 0.8076
Epoch 25: saving model to /content/drive/MyDrive/Colab Notebooks/Model_Weights/model_weights_25.h5
804/804 [==============================] - 3s 3ms/step - loss: 0.3985 - accuracy: 0.8075

In [34]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4537 - accuracy: 0.7911 - 476ms/epoch - 2ms/step
Loss: 0.45368850231170654, Accuracy: 0.7911370396614075

In [27]:
# Export our model to HDF5 file
nn.save('/content/drive/MyDrive/Colab Notebooks/DeepLearning2.h5')

In [39]:
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh'])

    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=150,
        step=5), activation=activation, input_dim=inputs))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 5)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=90,
            step=5),
            activation=activation))

    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

    return nn_model

In [40]:
# Import the kerastuner library
from tensorflow import keras

!pip install -q -U keras-tuner

import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=20,
    hyperband_iterations=2)

In [41]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

Trial 60 Complete [00h 00m 55s]
val_accuracy: 0.7510204315185547

Best val_accuracy So Far: 0.7942857146263123
Total elapsed time: 00h 31m 16s

In [43]:
best_hyper = tuner.get_best_hyperparameters(3)
for param in best_hyper:
  print(param.values)

{'activation': 'relu', 'first_units': 86, 'num_layers': 4, 'units_0': 31, 'units_1': 76, 'units_2': 86, 'units_3': 11, 'units_4': 36, 'tuner/epochs': 20, 'tuner/initial_epoch': 7, 'tuner/bracket': 2, 'tuner/round': 2, 'tuner/trial_id': '0043'}
{'activation': 'tanh', 'first_units': 31, 'num_layers': 2, 'units_0': 61, 'units_1': 6, 'units_2': 41, 'units_3': 51, 'units_4': 46, 'tuner/epochs': 20, 'tuner/initial_epoch': 0, 'tuner/bracket': 0, 'tuner/round': 0}
{'activation': 'tanh', 'first_units': 101, 'num_layers': 2, 'units_0': 81, 'units_1': 41, 'units_2': 71, 'tuner/epochs': 20, 'tuner/initial_epoch': 7, 'tuner/bracket': 2, 'tuner/round': 2, 'tuner/trial_id': '0012', 'units_3': 31, 'units_4': 21}

In [42]:
top_model = tuner.get_best_models(3)
for model in top_model:
  model_loss, model_accuracy = model.evaluate(X_test_scaled, y_test, verbose=2)
  print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4395 - accuracy: 0.7943 - 873ms/epoch - 3ms/step
Loss: 0.43948912620544434, Accuracy: 0.7942857146263123
268/268 - 1s - loss: 0.4357 - accuracy: 0.7936 - 584ms/epoch - 2ms/step
Loss: 0.43569841980934143, Accuracy: 0.793586015701294
268/268 - 1s - loss: 0.4355 - accuracy: 0.7932 - 532ms/epoch - 2ms/step
Loss: 0.43548280000686646, Accuracy: 0.7932361364364624